.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-bottom: 0.1rem solid grey;
    padding-block: 0.3rem;
}

.logo-image{
    width: 10rem;
}

.links-cont{
    display: flex;
    gap: 1rem;
}

.links-cont > a{
    color: black;
    text-decoration: none;
}

.links-cont > a:hover{
    text-decoration: underline;
    color: grey;
}